<h2 class="card-title">{{name}}</h2>
<p class="card-subtitle mb-2 text-muted plant-cat">{{category.category}}</p>
<img src='{{image_url}}' />
<p class="card-text">{{wateramount}} <span class="fas fa-tint"></span></p> 
<p class="card-text">{{sunamount}} <span class="fas fa-sun"></span></p>